
@using entities;
@model Alumno
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <h2>Eliminar Alumno</h2>
    <!-- Control asp Label para mensajes -->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.id)
        </dt>
        <dd>@Html.DisplayFor(m => m.id)</dd>

        <dt>@Html.DisplayNameFor(m => m.nombre)</dt>
        <dd>@Html.DisplayFor(m => m.nombre)</dd>

        <dt>
            @Html.DisplayNameFor(m => m.primerApellido)
        </dt>
        <dd>@Html.DisplayFor(m => m.primerApellido)</dd>

        <dt>
            @Html.DisplayNameFor(m => m.segundoApellido)
        </dt>
        <dd>@Html.DisplayFor(m => m.segundoApellido)</dd>

        <dt>
            @Html.DisplayNameFor(m => m.correo)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.fechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.sueldoMensual)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.sueldoMensual)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.idEstatus)
        </dt>
        <dd>@Html.DisplayFor(m => m.idEstatus)</dd>

    </dl>
</div>


@using (Html.BeginForm("Delete", "Alumnos", new { id = Model.id }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "Index", "Alumnos", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
}
